/************************************************************
	CLEARFIX
************************************************************/
.group::after {
	content: "";
	display: table;
	clear: both;
}



/************************************************************
	MEDIA QUERY: 660px
************************************************************/
@media screen and (min-width: 660px) {

	/****************************************
		NAVIGATION
	****************************************/

	.menu {
		display: flex !important;
	}

	.menu li {
		flex: auto;
	}

	.menu a {
		font-size: 0.9em;
	}

	#toggle-menu {
		display: none;
	}
}



/************************************************************
	MEDIA QUERY: 820px
************************************************************/
@media screen and (min-width: 820px) {

	/****************************************
		HEADER
	****************************************/
	#header{
		height: 80px;
	}

	#header h1 {
    float: left;
		margin: 20px 0 0 40px;
  }

  #header h2 {
    float: right;
		margin: 30px 30px 0 0;
  }


	/****************************************
		ABOUT
	****************************************/
	#about {
		display: relative;
		overflow: auto;
	}

	#about h2 {
		margin-bottom: 20px;
	}

	#about h3 {
		font-size: 1.25em;
	}

	.about-photo {
		position: relative;
		float: left;
		width: 40%;
		clear: both;
	}

	.about-text {
		float: right;
		width: 45%;
		margin-right: 5%;
		margin-left: 2.5%;
	}

	.img-dra {
		width: 222px;
		height: 222px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}



	/****************************************
		ORTODONCIA
	****************************************/
	#ortodoncia .acc-container {
		width: 65%;
	}



	/****************************************
		CONTACTO
	****************************************/
	#contacto .primary,
	.secondary {
		position: relative;
		margin: auto;
	}

	.primary {
		width: 35%;
		float: left;
		padding-top: 75px;
		padding-left: 40px;
	}

	.secondary {
		width: 55%;
		float: right;
		margin-right: 5%;
	}

}
